$fontsizes-xxxl:70px;
$fontsizes-xxl:40px;
$fontsizes-xl:30px;
$fontsizes-l:18px;
$fontsizes-m:16px;

$pt-mono-regular:"PT Mono";
$roboto-light: "Roboto"; 
$font-weight-regular:400;
$font-weight-light:300;

$color-white:#fff;
$color-isabelline:#eeeded;
$color-spanishgray:#989797;
$color-shinyshamrock:#4ca866;
$color-coral:#fa824c;
$color-buff:#f1dd7b;
$color-flame:#e4572e;
$color-bluedefrance:#3c91e6;
$color-outerspace:#454545;
$color-turquoisegreen:#9dcfab;